/*-----------------
REUSABLE COMPONENTS
------------------*/

:root {
    --blue: #02b3e4;
    --black: #2d3c49;
    --gray: #7d97ad;
}

body,
html {
    font-family: 'Montserrat', sans-serif;
    max-width: 500px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
}

h1 {
    font-size: 1.5em;
    font-weight: 300;
}

h2 {
    font-size: 1em;
}

.container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
}

a {
    text-decoration: none;
}

/*-----------------
HEADER
------------------*/

header {
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    width: 100%;
}

header img {
    width: 3em;
    padding-top: 1em;
}

.name {
    grid-column: 4 / -1;
}


/*-----------------
MAIN
------------------*/

main img {
    width: 100%;
}


/*-----------------
SECTION FEATURES
------------------*/

section h1,
section h2 {
    text-align: center;
}

section h1 {
    color: var(--gray);
    font-weight: 400;
}

section h2 {
    text-transform: uppercase;
    color: var(--black);
    font-size: 1.5em;
}

.projects {
    -webkit-box-shadow: 0px -6px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -6px 5px 0px rgba(0, 0, 0, 0.75);
}

button {
    text-decoration: none;
    outline: none;
    display: block;
    margin: 0 auto;
    padding: 1em 3em;
    border: 1px solid #fff;
    border-radius: 100px;
    margin-bottom: 1em;
    color: #fff;
    background-color: var(--blue);
    cursor: pointer;
}

button:hover {
    border: 1px solid var(--blue);
    background-color: #fff;
    color: var(--blue);
}

/*-----------------
FOOTER
------------------*/

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -ms-flex-line-pack: center;
    align-content: center;
    background-color: var(--gray);
}

.social {
    grid-column: 2 / -1;
    margin: auto;
}

i {
    color: var(--black);
    width: 1.5em;
    font-size: 1.5em;
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
}

i:hover {
    color: rgba(255, 255, 255, 0.66);
}

/*-------------------------------
MEDIA QUERIES (BIGGER THAN 790PX)
--------------------------------*/

@media screen and (min-width: 790px) {
    body,
    html {
        max-width: 1000px;
    }

    main {
        -webkit-box-shadow: 0px -1px 15px 3px rgba(0, 0, 0, 0.47);
        box-shadow: 0px -1px 15px 3px rgba(0, 0, 0, 0.47);
    }

    .works {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0 30px;
    }

    .projects {
        grid-row-start: 2;
        -webkit-box-shadow: 1px 2px 18px 4px rgba(0, 0, 0, 0.75);
        box-shadow: 1px 2px 18px 4px rgba(0, 0, 0, 0.75);
    }

    header h1 {
        font-size: 2em;
    }

    section h1 {
        grid-column-start: 2;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    header {
        display: grid;
        grid-template-columns: 1fr 100px 1fr;
        width: 100%;
    }

    header img {
        width: 4em;
        padding-top: 1.5em;
    }

    .name {
        grid-column: 4 / -1;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        -ms-flex-line-pack: center;
        align-content: center;
        background-color: var(--gray);
    }

    footer p {
        justify-self: end;
    }

    .social {
        grid-column: 2 / -1;
        margin: auto;
    }

    i {
        color: var(--black);
        width: 3em;
        font-size: 2em;
    }
}

/*---------------------------------------
MEDIA QUERIES (BETWEEN 501 PX AND 799 PX)
-----------------------------------------*/

@media screen and (min-width: 501px) and (max-width: 799px) {
    body,
    html {
        max-width: 799px;
        overflow-x: hidden;
    }

    .container {
        max-width: 799px;
        overflow-x: hidden;
    }

    main {
        -webkit-box-shadow: 0px -1px 15px 3px rgba(0, 0, 0, 0.47);
        box-shadow: 0px -1px 15px 3px rgba(0, 0, 0, 0.47);
    }

    .works {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 2em;
    }

    .projects {
        width: 48%;
        -webkit-box-shadow: 1px 2px 18px 4px rgba(0, 0, 0, 0.75);
        box-shadow: 1px 2px 18px 4px rgba(0, 0, 0, 0.75);
    }

    .animal-card {
        margin: 0 auto;
        margin-top: 2em;
    }

    section h1 {
        display: block;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .name {
        grid-column: 4 / -1;
    }

    header h1 {
        font-size: 2em;
    }


    header img {
        width: 4em;
        padding-top: 1.5em;
    }

    i {
        width: 2em;
        font-size: 2em;
    }

    footer p {
        justify-self: end;
    }

}

/*----------------------------
MEDIA QUERIES (339PX OR LOWER)
------------------------------*/

@media screen and (max-width: 339px) {
    header {
        font-size: 0.8em;
    }
}
